/* .recipe-detail-container {
  display: flex;
  flex-direction: column;
} */

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-body {
  display: flex;
  justify-content: space-around;
}

#toggle-button {
  display: none;
}

#directions-list {
  flex: 2 0 0;
}

#ingredients-list {
  flex: 1 0 0;
  margin-left: 5vw;
}

.recipe-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10vh 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.recipe-header h1 {
  margin: 0 1rem 0 0;
}

.recipe-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media only screen and (max-width: 700px) {

  .recipe-footer {
    justify-content: center;
  }

  .recipe-header {
    flex-direction: column;
  }

  #toggle-button {
    display: inline-flex;
  }

  .recipe-detail-buttons {
    margin-top: .2rem;
  }

  .recipe-body {
    margin: 0 2rem 0 1.5rem;
  }

  .other-recipe-body {
    margin: 0 2rem 0 1.5rem;
  }

  #ingredients-list {
    margin-left: 0;
  }

}