.adv-search-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* height: 50vh; */
	margin: 5vh 0 7vh 0;
}

.adv-search-container-form {
  display: flex;
  flex-direction: column;
}

.mobile-drawer-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.search-x {
  cursor: pointer;
  margin-left: -1.75rem;
  padding: 0;
}