.my-nav {
  /* box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
  margin-bottom: 2vh; */
  background-color: #fff;
}

.full-navbar {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  /* border-bottom: 1px solid rgb(192, 192, 192); */
}

.navbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-nav-box {
  flex: 1 0 0;
  justify-content: flex-start;
}

.side-nav-box-right {
  justify-content: flex-end;
}

.center-nav-box {
  flex: 2 0 0;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: row;
}

.content-gutter {
  flex: 1 0 0;
}

.content-gutter-no-collapse {
  flex: 1 0 0;
}

.main-content {
  flex: 8 0 0;
}

.mini-navbar {
  display: none;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
  margin-bottom: 2vh;
  /* border-bottom: 1px solid rgb(192, 192, 192); */
}

.mini-navbar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-container {
  padding: 2.5vw 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
} 

@media only screen and (max-width: 700px) {
  .full-navbar {
    display: none;
  }

  .mini-navbar {
    display: inline;
  }

  .content-gutter {
    flex: 0 0 0;
  }

  .form-view {
    margin: 0 5vw;
  }

  .filter-details-container {
    margin: 0 5vw;
  }

  .login-container {
    margin-top: 0;
  }
}

